<nav class="navbar navbar-expand-lg py-3 px-4 bg-white">
	<div class="container-fluid container d-flex align-items-center">
		<div
			class="d-flex align-items-center justify-content-between w-100 bg-"
		>
			<a class="navbar-brand me-4" href="/">
				<image
					src="/assets/icons/logo.png"
					width="140"
					height="auto"
					alt="AutoAlt logo"
				/>
			</a>
			<div>
				<p>hello name</p>
			</div>
			<!-- nav actions -->
			<div class="d-flex align-items-center">
                <!-- run the logout function? -->
				<a href="/" class="btn btn-primary me-2">Log out</a>
				<a href="/cart"><i class="bi bi-cart"></i></a>
			</div>
		</div>
	</div>
</nav>
