<nav class="navbar navbar-expand-lg bg-body-tertiary py-4 px-4">
	<div class="container-fluid d-flex align-items-center">
		<div class="d-flex align-items-center justify-content-between w-100">
			<a class="navbar-brand me-4" href="/">
				<image 
                    src="/assets/icons/logo.png" 
                    width="140" 
                    height="auto" 
                    alt="autoalt logo"
                />
			</a>
			<div>
				<!-- Nav Links -->
				<ul class="navbar-nav d-flex flex-row">
					<li class="nav-item me-3">
						<a href="#features" class="text-decoration-none">
							Features
						</a>
					</li>
					<li class="nav-item me-3">
						<a href="#how-it-works" class="text-decoration-none">
							How it Works
						</a>
					</li>
					<li class="nav-item me-3">
						<a href="#pricing" class="text-decoration-none link">
							Pricing
						</a>
					</li>
				</ul>
			</div>
			<!-- nav actions -->
			<div class="d-flex align-items-center">
				<a href="/login" class="me-3 text-decoration-none"> Login </a>
				<a href="/signup" class="btn btn-primary me-2"> Signup </a>
			</div>
		</div>
	</div>
</nav>
