<div class="grid container container-fluid pt-5 pb-5">
	<div>
		<h2 class="display-5 fw-bold text-center">
			Everything you need for accessible images
		</h2>
		<p class="lead mb-4 text-center">
			Autoalt provides a complete suite of tools to ensure your website is
			accessible to everyone.
		</p>
	</div>
</div>
