<div class="col-xxl-12 vh-100 container container-fluid grid">
	<div class="row flex-lg-row-reverse align-items-center py-5 h-100">
		<div class="col-10 col-sm-8 col-lg-6">
			<img
				src="/assets/images/terminal.png"
				class="mx-lg-auto img-fluid rounded"
				alt="computer terminal running commands"
				width="900"
				height="500"
				loading="lazy"
			/>
		</div>
		<div class="col-lg-6">
			<h1 class="display-4 fw-bold mb-4">
				Automate your product's accessibility with
				<span class="text-primary">AI-Powered</span> Alt tags.
			</h1>
			<p class="lead mb-4">
				Autoalt automatically generates descriptive alt tags for your
				images using advanced AI models. Integrate it into your workflow
				via CLI or use our webapp.
			</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<button
					type="button"
					class="btn btn-outline-secondary btn-lg px-4"
				>
					View on Github
				</button>
			</div>
		</div>
	</div>
</div>