<div class="col-xxl-12 vh-100 container container-fluid grid">
	<div class="row flex-lg-row-reverse align-items-center py-5 h-100">
		<!-- Hero -->
		<div class="col-10 col-sm-8 col-lg-6">
			<!-- carousel -->
			<!-- https://getbootstrap.com/docs/4.0/components/carousel/ -->
			<div
				id="carouselExampleIndicators"
				class="carousel slide"
				data-bs-ride="carousel"
				data-bs-interval="3000"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<!-- Wrapper to center content regardless of image size -->
						<div
							class="height-500 d-flex align-items-center justify-content-center"
						>
							<img
								class="d-block w-100"
								src="/assets/images/Serp-image.png"
								alt="First slide"
							/>
						</div>
					</div>
					<div class="carousel-item">
						<!-- Wrapper to center content regardless of image size -->
						<div
							class="height-500 d-flex align-items-center justify-content-center"
						>
							<img
								class="d-block w-100"
								src="/assets/images/SEO-rounded.png"
								alt="Second slide"
							/>
						</div>
					</div>
					<div class="carousel-item">
						<!-- Wrapper to center content regardless of image size -->
						<div
							class="height-500 d-flex align-items-center justify-content-center"
						>
							<img
								class="d-block w-100"
								src="/assets/images/terminal.png"
								alt="Third slide"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Text -->
		<div class="col-lg-6">
			<h1 class="display-4 fw-bold mb-4">
				Automate Your Product's Visibility with
				<span class="text-primary">AI-Powered</span> Alt Tags, SEO,
				SERP&apos;s.
			</h1>
			<p class="lead mb-4">
				Autoalt automatically generates descriptive alt tags for your
				images using advanced AI models. Integrate it into your workflow
				via CLI or use our webapp.
			</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<button
					type="button"
					class="btn btn-outline-secondary btn-lg px-4"
				>
					View on Github
				</button>
			</div>
		</div>
	</div>
</div>
