<div
	class="grid container container-fluid p-5 bg-light d-flex align-items-center justify-content-center flex-column flex-grow-1"
>
	<h1 class="display-5 fw-bold">Signup or Login</h1>
	<p class="col-md-8 text-center">Boost your SEO visibility today</p>
	<a 
		href="/login" 
		class="btn btn-primary btn-lg" 
		type="button"
	>
		Authenticate
	</a>
</div>
