.grid {
	border-left: 1px solid #d8d8d890;
	border-right: 1px solid #d8d8d890;
}
/* Use BEM naming convention https://getbem.com/naming/ */
.grid__section {
    border-bottom: 1px solid #d8d8d890;
}

.height-500 {
	height: 500px;
}
